<div class="card__container d-flex justify-content-center">
    <div class='card' style='width: 40rem;'>
        <img src='http://dummyimage.com/720' class='card-img-top' alt='img'>
        <div class='card-body'>
            <p>{{ good.goodName }}</p>
            <p>{{ good.goodDescription }}</p>
            <p>{{ good.goodPrice }} руб</p>
            <a href="/cart/add?id={{ good.id }}" class="btn btn-success">Добавить в корзину</a>
        </div>
    </div>
</div>